* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bgColor: #f3f5ec;
  --bgColor2: #ffa455;
  --bgColorProjects: #000000;
  --wordColor: #0d0d0a;
  --aboutMebgColor: #e7e8d4;
  --wordColor2: #e6ccb1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
